html{ 
background-color:LightGray;
font-family: 'Open Sans', sans-serif;

}




header{
text-align:center;
background-color:rgb(255, 255, 255);
margin-top: 100px;
margin-bottom: 100px;
margin-right: 350px;
margin-left: 350px;
}

section {
background-color:rgb(255, 255, 255);
margin-top: 100px;
margin-bottom: 100px;
margin-right: 350px;
margin-left: 350px;
}

article{
background-color:rgb(255, 255, 255);
margin-top: 100px;
margin-bottom: 100px;
margin-right: 350px;
margin-left: 350px;
font-family: 'Open Sans', sans-serif;
}
header img{
border-radius:50%;
border-style:groove;
margin:auto;
}
header h1 { text-align:center;
color:#C95440;
}

h1, h2,h3{
text-align:center; 
color: gray;
}
p { 
font-family: 'Open Sans', sans-serif;
color:gray;

}

button{ 
color:#FCFCFC ;
font-size: 25px;
font-family: 'Open Sans', sans-serif;
border-radius: 8px;
background-color: #C95440;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


